body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a,
a:visited {
  color: rgb(0, 89, 172);
  text-decoration-color: transparent;
  transition: all 0.3s;
}

a:hover,
a:active {
  color: rgb(0, 89, 172);
  text-decoration-color: rgb(0, 89, 172);
}

.header {
  margin-bottom: 30px;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.codewars-badge {
  filter: brightness(200%) saturate(30%);
  transition: all 0.2s;
}

.codewars-badge:hover {
  filter: brightness(100%) saturate(100%);
}

.center {
  padding-left: calc(50% - 400px);
  padding-right: calc(50% - 400px);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.photo {
  width: 250px;
  border-radius: 50px;
}

.preview {
  width: 50%;
}

.sertificate {
  width: 80%;
  margin: 0 auto;
}
